.numbers-item {
    text-align: center;
    .item-title {
        font-size:34px;
        color: $color4;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 0 0.5em;
    }
}