#carousel.carousel
    .rpaimplemented-item
        .rpaimplemented-tag Продажи
        h3 Ежедневная отчетность по управлению проектом
        .rpaimplemented-desc
            p Строительной компании необходимо было автоматизировать процесс в бэк-офисе, включавший в себя работу с 500 письмами в день и средним временем обработки 720 секунд на каждого менеджера объекта. Были задействованы три отдела, которые использовали два разных приложения на настольных компьютерах. Информация была полностью структурирована, а правила и решения были предопределены. <!--В этом процессе было 10 % исключений и требовалась некоторая реорганизация рабочего процесса-->.
        .read-more
            a(href="") Подробнее

    .rpaimplemented-item
        .rpaimplemented-tag Служба персонала
        h3 Услуги по вводу данных при приеме на работу, работники, меняющие место работы и увольняющиеся
        .rpaimplemented-desc
            p Процесс настройки для новых сотрудников при приеме на работу был дорогостоящим и включал ручную работу большого объема с высокой склонностью к ошибкам, связанным с человеческим фактором.
        .read-more
            a(href="") Подробнее

    .rpaimplemented-item
        .rpaimplemented-tag Недвижимость
        h3 Извлечение данных из SAP и отчетность
        .rpaimplemented-desc
            p Компании необходимо было автоматизировать процесс SAP на удаленной рабочей станции объемом 1,05 Гб в день, временем работы 1,40 часа и средним временем обработки - 14 минут на отчет. Был задействован один отдел, который использовал 3 разных приложения (SAP, Excel и Access) на настольном компьютере.
        .read-more
            a(href="") Подробнее

    .rpaimplemented-item
        .rpaimplemented-tag Финансы и бухгалтерия
        h3 Создание банковских счетов для ипотечных клиентов
        .rpaimplemented-desc
            p Банку требовалось автоматизировать процесс бэк-офиса, предполагавший 500 событий в месяц со средним временем обработки 300 секунд на один счет. Для обработки этого процесса были задействованы три отдела, использующих 2 приложения на настольном компьютере и в Интернете.
        .read-more
            a(href="") Подробнее

    .rpaimplemented-item
        .rpaimplemented-tag Недвижимость
        h3 Извлечение данных из SAP и отчетность
        .rpaimplemented-desc
            p Компании необходимо было автоматизировать процесс SAP на удаленной рабочей станции объемом 1,05 Гб в день, временем работы 1,40 часа и средним временем обработки - 14 минут на отчет. Был задействован один отдел, который использовал 3 разных приложения (SAP, Excel и Access) на настольном компьютере.
        .read-more
            a(href="") Подробнее

    .rpaimplemented-item
        .rpaimplemented-tag Финансы и бухгалтерия
        h3 Создание банковских счетов для ипотечных клиентов
        .rpaimplemented-desc
            p Банку требовалось автоматизировать процесс бэк-офиса, предполагавший 500 событий в месяц со средним временем обработки 300 секунд на один счет. Для обработки этого процесса были задействованы три отдела, использующих 2 приложения на настольном компьютере и в Интернете.
        .read-more
            a(href="") Подробнее