footer.footer
    .row
        .col-sm-12.col-md-6
            .logo
                a(href="#")
                    include ../../svg/SL_logo_SVG.svg
            .copyright &copy; 1993—2019 
        //.col-sm-12.col-md-4
            
        .col-sm-12.col-md-6
            .contacts
                ul
                    li
                        a.phone(href="callto:+74952320023") +7(495) 232-0023
                    li
                        a(href="https://softline.ru/privacy-policy", target="_blank") Политика конфиденциальности
                div.
                    
                    <ul class="b-list b-list_content_follow-us">
                        <li class="b-list__item">
                            <a class="b-list__item-text b-list__item-text_type_facebook b-link" href="http://www.facebook.com/SoftlineCompany" title="Softline в Facebook" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-icon_type_svg b-icon_viewtype_context b-icon_content_facebook-footer" focusable="false">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook" class="b-icon__image b-icon__image_type_svg"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="b-list__item">
                            <a class="b-list__item-text b-list__item-text_type_twitter b-link" href="http://twitter.com/Softlinegroup" title="Softline в Twitter" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-icon_type_svg b-icon_viewtype_context b-icon_content_twitter-footer" focusable="false">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter" class="b-icon__image b-icon__image_type_svg"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="b-list__item">
                            <a class="b-list__item-text b-list__item-text_type_vk b-link" href="https://vk.com/softlinecompany" title="Softline в VK" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-icon_type_svg b-icon_viewtype_context b-icon_content_vk-footer" focusable="false">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk" class="b-icon__image b-icon__image_type_svg"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="b-list__item">
                            <a class="b-list__item-text b-list__item-text_type_youtube b-link" href="https://www.youtube.com/user/SoftlineCompany?sub_confirmation=1" title="Softline на YouTube" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-icon_type_svg b-icon_viewtype_context b-icon_content_youtube-footer" focusable="false">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube" class="b-icon__image b-icon__image_type_svg"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="b-list__item">
                            <a class="b-list__item-text b-list__item-text_type_linkedin b-link" href="https://www.linkedin.com/company/softline-company" title="Softline в Linkedin" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-icon_type_svg b-icon_viewtype_context b-icon_content_linkedin-footer" focusable="false">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin" class="b-icon__image b-icon__image_type_svg"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="b-list__item">
                            <a class="b-list__item-text b-list__item-text_type_googleplus b-link" href="https://plus.google.com/+softline" title="Softline в Google Plus" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-icon_type_svg b-icon_viewtype_context b-icon_content_googleplus-footer" focusable="false">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googleplus" class="b-icon__image b-icon__image_type_svg"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="b-list__item">
                            <a class="b-list__item-text b-list__item-text_type_instagram b-link" href="https://www.instagram.com/softlinegroup/" title="Softline в Instagram" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-icon_type_svg b-icon_viewtype_context b-icon_content_instagram-footer" focusable="false">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram" class="b-icon__image b-icon__image_type_svg"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="b-list__item">
                            <a class="b-list__item-text b-list__item-text_type_habrahabr b-link" href="http://habrahabr.ru/company/softline/" title="Softline в HabraHabr" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-icon_type_svg b-icon_viewtype_context b-icon_content_habrahabr-footer" focusable="false">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#habrahabr" class="b-icon__image b-icon__image_type_svg"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="b-list__item">
                            <a class="b-list__item-text b-list__item-text_type_telegram b-link" href="https://t.me/Softline" title="Softline в Telegram" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" class="b-icon b-icon_type_svg b-icon_viewtype_context b-icon_content_telegram-footer" focusable="false">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telegram" class="b-icon__image b-icon__image_type_svg"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
        