//- templates/head.pug

title CRM Landing
meta(charset="utf-8")
meta(name="keywords", content="")
meta(name="description", content="")
meta(name="viewport", content="width=device-width, initial-scale=1")
//link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')

//link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic", rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700&display=swap&subset=cyrillic", rel="stylesheet")
link(rel='stylesheet', href='styles/bootstrap.min.css')
link(rel='stylesheet', href='styles/style.css')

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="js/owl.carousel.min.js")
