mixin font-test(cls)
    div(class=cls)
        h1 Внедрение RPA
        h2 Диагностика бизнес процессов
        h3 Оценка привлекательности
        h4 Выбор платформы реализации
        |<p>Сокращение затрат и ускорение работы
        |Повышение производительности труда сотрудников
        |Снижение рутинной нагрузки на сотрудников и их развитие
        |Выявление слабых мест в бизнес-процессах
        |нижение количества ошибок, вызванных человеческим фактором
        |Внедрение инновационных технологий
        |Оптимизация человеческих и производственных ресурсов
        |Повышение уровня удовлетворенности клиентов
        |Большинство руководителей положительно оценивают эффект от RPA</p>
    hr

mixin myfont(myCustomAttrs)
    //-attributes = myCustomAttrs
    div(class=myCustomAttrs)
        h1 Внедрение RPA
        h2 Диагностика бизнес процессов
        h3 Оценка привлекательности
        h4 Выбор платформы реализации
        |<p>Сокращение затрат и ускорение работы
        |Повышение производительности труда сотрудников
        |Снижение рутинной нагрузки на сотрудников и их развитие
        |Выявление слабых мест в бизнес-процессах
        |нижение количества ошибок, вызванных человеческим фактором
        |Внедрение инновационных технологий
        |Оптимизация человеческих и производственных ресурсов
        |Повышение уровня удовлетворенности клиентов
        |Большинство руководителей положительно оценивают эффект от RPA</p>
    hr


