.anchor#onas
.section.section-numbers
    .container
        .row
            .col-sm-12.col-md-6.col-lg-3
                .box
                    .numbers-item
                        .item-title с 2003 года
                        .item-desc Развитие практики MS Dynamics CRM
            .col-sm-12.col-md-6.col-lg-3
                .box
                    .numbers-item
                        .item-title 7 лет
                        .item-desc Средний опыт работы специалистов
            .col-sm-12.col-md-6.col-lg-3
                .box
                    .numbers-item
                        .item-title 60+
                        .item-desc Проектов внедрено
            .col-sm-12.col-md-6.col-lg-3
                .box
                    .numbers-item
                        .item-title 5+
                        .item-desc Отраслевых областей
            