.anchor#vygody
.section.section-complex
    .container
        .row
            .col
                h2 Ощутите пользу от внедрения
        .row
            .col-sm-12.col-md-6
                .box
                    .effect-item
                        .item-image
                            svg.icon
                                use(xlink:href="#euro")
                        .item-content
                            .item-title Управление продажами
                            .item-desc Прогнозируйте объем сделок и прибыли
            .col-sm-12.col-md-6
                .box
                    .effect-item
                        .item-image
                            svg.icon
                                use(xlink:href="#client")
                        .item-content
                            .item-title Управление сервисом
                            .item-desc Снижайте стоимость обслуживания повышайте лояльность клиентов​
        .row
            .col-sm-12.col-md-6
                .box
                    .effect-item
                        .item-image
                            svg.icon
                                use(xlink:href="#analysis-1")
                        .item-content
                            .item-title Управление маркетингом
                            .item-desc Синхронизируйте продажи и маркетинг
            .col-sm-12.col-md-6
                .box
                    .effect-item
                        .item-image
                            svg.icon
                                use(xlink:href="#customer-relationship-management")
                        .item-content
                            .item-title CRM всегда доступна
                            .item-desc Работайте с любого устройства
        .row
            .col-sm-12.col-md-6
                .box
                    .effect-item
                        .item-image
                            svg.icon
                                use(xlink:href="#test")
                        .item-content
                            .item-title Гибкость настройки
                            .item-desc Адаптируйте систему под особенности бизнеса
            .col-sm-12.col-md-6
                .box
                    .effect-item
                        .item-image
                            svg.icon
                                use(xlink:href="#diagram")
                        .item-content
                            .item-title Аналитика
                            .item-desc Используйте мощные аналитические возможности
        .row
            .col-sm-12.col-md-6
                .box
                    .effect-item
                        .item-image
                            svg.icon
                                use(xlink:href="#award")
                        .item-content
                            .item-title Гарантия производителя
                            .item-desc Будьте уверены в поддержке вендора
            .col-sm-12.col-md-6
                .box
                    .effect-item
                        .item-image
                            svg.icon
                                use(xlink:href="#startup")
                        .item-content
                            .item-title Продуктивность
                            .item-desc Используйте возможности интеграции с Office 365
        
        .row
            .col-12
                .ask-more
                    span Узнайте больше
                     span.svg-icon
                        svg
                            use(xlink:href="#arrow-up")
                    a.btn.btn-color-scheme2(href='#kontakty') Оставить заявку

            
