.anchor#otzyvy
.section.section-testimonials.section-style2
    .container
        .row
            .col
                h2 Отзывы о нашей работе
        #carousel.carousel.slide(data-ride="carousel", data-interval="false")
            ol.carousel-indicators
                li(data-target="#carousel", data-slide-to="0", class="active")
                li(data-target="#carousel", data-slide-to="1")
                li(data-target="#carousel", data-slide-to="2")
                li(data-target="#carousel", data-slide-to="3")
                li(data-target="#carousel", data-slide-to="4")
                li(data-target="#carousel", data-slide-to="5")

            .carousel-inner
                .testimonial-item.carousel-item.active
                    .item-header
                        .item-image
                            img(src="./images/Clients/Aflex.png")
                        .item-author
                            .item-author-name Артем Хазов
                            .item-position Директор по продажам Aflex software
                    .item-content Обеспечение высочайшего качества программных решений, представляемых на рынках России и стран СНГ – основа успеха нашей компании с момента ее основания. Внедрение системы CRM позволило нам обеспечить более персонифицированный подход к клиенту на всех этапах сделки, послепродажное обслуживание, а также оценивать статистику региональных продаж решений каждого вендора. Наилучшим образом с этими и множеством других задач справилась система Microsoft Dynamics CRM, внедренная компанией Softline.
                .testimonial-item.carousel-item
                    .item-header
                        .item-image
                            img(src="./images/Clients/vozrozhdenije.png")
                        .item-author
                            .item-author-name Александр Васильев
                            .item-position заместитель начальника управления розничных операций банка «Возрождение»
                    .item-content Благодаря решению Microsoft Dynamics CRM мы получили эффективный инструмент для управления взаимоотношениями с клиентами, позволяющий увеличить производительность работы менеджеров по продажам, эффективно организовать обслуживание клиентов банка, повысить эффективность привлечения клиентов. Мы рады сотрудничеству с командой опытных специалистов компании Softline Solutions, которые адаптировали систему для нашей компании, учитывая специфику бизнес-процессов. Мы уверены, что с CRM-решением наш бизнес будет успешно развиваться
                .testimonial-item.carousel-item
                    .item-header
                        .item-image
                            img(src="./images/Clients/alibra.png")
                        .item-author
                            .item-author-name Анна Беркович
                            .item-position Владелец сети школ иностранных языков Alibra School
                    .item-content Компания Softline предложила нам лучшее, на наш взгляд, CRM-решение и качественно выполнила проект внедрения Microsoft Dynamics CRM.
                .testimonial-item.carousel-item
                    .item-header
                        .item-image
                            img(src="./images/Clients/iskusstvo_delovoy_zizni.gif")
                        .item-author
                            .item-author-name Алла Новикова
                            .item-position Генеральный директор компании «Искусство деловой жизни»
                    .item-content Нам было очень важно, чтобы система отражала реальные особенности нашей работы. Благодаря этому теперь ряд задач и напоминаний сотруднику выставляется автоматически. Раньше на обучение новичка уходило три месяца, а теперь он сразу приступает к работе и осваивается за две-три недели при помощи системы, которая ведет его по зашитым в ней бизнес-процессам. Значительно облегчилось планирование рабочего времени. О том, что и когда нужно сделать, менеджеры теперь практически не задумываются - CRM автоматически формирует список текущих задач с учетом важности клиентов и контролирует сроки их исполнения. Реакция на запросы клиентов стала практически мгновенной и адекватной - они сразу это почувствовали и оценили.
                .testimonial-item.carousel-item
                    .item-header
                        .item-image
                            img(src="./images/Clients/Incom.png")
                        .item-author
                            .item-author-name Михаил Журютин
                            .item-position Директор департамента информационных технологий «ИНКОМ-Недвижимость»
                    .item-content К преимуществам Microsoft Dynamics CRM мы можем отнести привычный пользователю интерфейс (как в Microsoft Outlook),  визуальное создание форм с помощью дизайнера,  универсальный инструмент создания отчетов (Microsoft Reporter), а также хорошую  интеграцию с другими продуктами Microsoft.  Внедрение решения Microsoft Dynamics CRM сотрудниками компании Softline позволило нам планировать и контролировать работы с клиентом на всех этапах взаимодействия.
                .testimonial-item.carousel-item
                    .item-header
                        .item-image
                            img(src="./images/Clients/Runa.svg")
                        .item-author
                            .item-author-name Дмитрий Чихачев
                            .item-position Управляющий партнер Runa Capital
                    .item-content Главная задача сотрудников венчурного фонда – выбирать интересные стартапы и помогать им становиться успешными бизнесами. Облачная CRM позволила нам сфокусировать внимание на основной деятельности и оставить вопросы обеспечения стабильной работы IT-инфраструктуры высококвалифицированным специалистам компании Softline.


            a.carousel-control-prev(href="#carousel", role="button", data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous

            a.carousel-control-next(href="#carousel", role="button", data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next
