.anchor#clients
.section.section-clients
    .container
        .row
            .col
                h2 Наши клиенты
        .carousel_clients.owl-carousel.owl-theme
            .client-item
                span.item-image
                    img(src="./images/Clients/robur.png")
            .client-item
                span.item-image
                    img(src="./images/Clients/rosnano.png")
            .client-item
                span.item-image
                    img(src="./images/Clients/yokogava.png")
            .client-item
                span.item-image
                    img(src="./images/Clients/alibra.png")
            .client-item
                span.item-image
                    img(src="./images/Clients/Runa.svg")
            .client-item
                span.item-image
                    img(src="./images/Clients/ayaks.png")
            .client-item
                span.item-image
                    img(src="./images/Clients/solver.png")
            .client-item
                span.item-image
                    img(src="./images/Clients/aflex.png")
            .client-item
                span.item-image
                    img(src="./images/Clients/Veeam.png")
            .client-item
                span.item-image
                    img(src="./images/Clients/pik.png")
            .client-item
                span.item-image
                    img(src="./images/Clients/vozrozhdenije.png")

