.anchor#kontakty
.section.section-contact.section-style2
    .container
        h2 Свяжитесь с нами
        .row
            .col-sm-12.col-md-6
                .box
                    p Оставьте ваши контактные данные и краткую информацию о компании. Наш менеджер свяжется с вами для более детального обсуждения.

                    dl
                        dt Адрес:
                        dd 115114, г. Москва, Дербеневская набережная, д. 7, деловой квартал «Новоспасский», стр. 8
                    dl
                        dt Телефон:
                        dd
                            a(href="callto:+74952320023") +7(495) 232-0023
                    dl
                        dt Email:
                        dd
                            a(href="mailto:dbr@softline.com") dbr@softline.com
                    dl
                        dt Web:
                        dd 
                            a(href="https://www.softline.ru") https://www.softline.ru

            .col-sm-12.col-md-6
                .box
                    .contact-us-form
                        form.ui-form
                            include ./contact_us_form.pug

                            .ui-form-buttons
                                input.btn.btn-color-scheme1(type='submit', value='Оставить заявку')