
.section.section-style1
    .container
        h2 Экономический эффект
        .rpa-effect
            .row
                .col-sm-12.col-md-6.col-lg-3
                    .rpa-effect_item
                        .svg-icon
                            svg
                                use(xlink:href="#effect-01")
                        span Срок реализации проекта 
                        span.txt-lg от 2 месяцев
                .col-sm-12.col-md-6.col-lg-3
                    .rpa-effect_item 
                        .svg-icon.effect-02
                            svg
                                use(xlink:href="#effect-02")
                        span Окупаемость 
                        span.txt-lg от 6 месяцев
                .col-sm-12.col-md-6.col-lg-3
                    .rpa-effect_item
                        .svg-icon.effect-03
                            svg
                                use(xlink:href="#effect-03")
                        span Экономический эффект 
                        span.txt-lg мгновенный
                .col-sm-12.col-md-6.col-lg-3
                    .rpa-effect_item 
                        .svg-icon
                            svg
                                use(xlink:href="#effect-04")
                        span Масштабирование 
                        span.txt-lg неограниченное
                    
        .rpa-effect-note Эффект начинается с малого. Не ждите, а пробуйте на небольших бизнес-процессах! 
    
    .container
        .optimization
            .row
                .col-sm-12.col-md-3
                    h3 Оптимизация в отраслях
                .col-sm-12.col-md-9
                    .optimization-items
                        .row
                            .col-sm-12.col-md-6.col-lg-3
                                .optimization-item
                                    .svg-icon
                                        svg
                                            use(xlink:href="#optimization-01")
                                    span бухгалтерский учет
                                    span.txt-lg до 20%
                            .col-sm-12.col-md-6.col-lg-3
                                .optimization-item
                                    .svg-icon
                                        svg
                                            use(xlink:href="#optimization-02")
                                    span управление персоналом
                                    span.txt-lg до 15%
                            .col-sm-12.col-md-6.col-lg-3
                                .optimization-item
                                    .svg-icon
                                        svg
                                            use(xlink:href="#optimization-03")
                                    span налоговый учет
                                    span.txt-lg до 15%
                            .col-sm-12.col-md-6.col-lg-3
                                .optimization-item
                                    .svg-icon
                                        svg
                                            use(xlink:href="#optimization-04")
                                    span ИТ и другие сферы
                                    span.txt-lg до 10%