.form-group.ui-form-item
    .ui-form-label
        label(for="") ФИО
    .field.field-type_text
        input.form-control(type='text', placeholder='ФИО')
.form-group.ui-form-item
    .ui-form-label
        label Телефон
    .field.field-type_text
        input.form-control(type='tel', placeholder='Телефон')
.form-group.ui-form-item
    .ui-form-label
        label E-mail
    .field.field-type_text
        input.form-control(type='email', placeholder='E-mail')
.form-group.ui-form-item
    .ui-form-label
        label Дополнительная информация
    .field.field-type_text
        textarea.form-control(placeholder='Дополнительная информация', rows="3")
.form-check.ui-form-item
    input.form-check-input(type="checkbox", id="chbk") 
    label.form-check-label(for="chbk") Я даю согласие на обработку своих <a href="https://softline.ru/security" target="_blank">персональных данных</a>
    //span Я даю согласие на обработку своих <a href="">персональных данных</a>