.anchor#podhod
.section.section-crm-overview
    .container
        .row
            .col
                h2 Наш подход
        .crm-overview-wrapper
            .crm-overview
                .crm-overview-item
                    input(type='radio' name='crmoverview' id='crmoverview-1' checked)
                    .crm-overview-header
                        label(for="crmoverview-1")
                            h3 Подход к реализации проектов
                    .crm-overview-content
                        p При реализации проекта мы стараемся придерживаться методологии внедрения Sure Step, которую рекомендует вендор. Однако выбираем наиболее подходящую методологию, исходя из временных и функциональных рамок проекта, а также ориентируясь на предпочтения Заказчика.
                        p Кроме методологии Sure Step мы можем предложить итеративный подход или работы по T&amp;M (Time and Material).
                .crm-overview-item
                    input(type='radio' name='crmoverview' id='crmoverview-2')
                    .crm-overview-header
                        label(for="crmoverview-2")
                            h3 Виды проектов
                    .crm-overview-content
                        p Мы выполняем проекты следующих видов
                        ul
                            li Внедрение системы
                            li Техническая поддержка
                            li Миграция с более ранних версий
                            li Аудит системы
                            li Анализ и описание требований
                .crm-overview-item
                    input(type='radio' name='crmoverview' id='crmoverview-3')
                    .crm-overview-header
                        label(for="crmoverview-3")
                            h3 Команда проекта
                    .crm-overview-content
                        p Для наиболее эффективного исполнения проекта в команде мы задействуем не менее 5 специалистов:
                        ul
                            li Руководитель проекта
                            li Архитектор проекта
                            li Аналитик
                            li Разработчик
                            li Тестировщик
                .crm-overview-item
                    input(type='radio' name='crmoverview' id='crmoverview-4')
                    .crm-overview-header
                        label(for="crmoverview-4")
                            h3 Поддержка
                    .crm-overview-content
                        p Мы предоставляем гарантийную поддержку в течении 1-го года после завершения работ.
                
            .crm-overview-desc#crmoverview_desc
